<% page_title "Log In" %>

<div class="center">
  <%= form_tag session_path,
      :handle_enter_key => true, :label_width => 75, :label_align => "top",
      :width => 370, :controls_width => 130 do |f| -%>
    <%= f.text_field_tag "username", @username, validation: {allow_blank: false} %>
    <%= f.password_field_tag "password", nil, :validation => {:allow_blank => false} %>
    <%= f.submit_button "Log In" %>
  <% end -%>
  <p>
    Forget your <%= link_to "username", new_login_path %> or <%= link_to "password", new_password_path %>?
  </p>
</div>
